*{
    margin: 0;
    padding: 0;
}

/* Inicio Template */

.bg_templates{
    background-color: #fff;
}

.logo {
    margin-top: 10px;
    background-image: url('../icons/LOGO-Longa.png');
    background-repeat: no-repeat;
    height: 60px;
    width: 500px;
}

nav {
    background: linear-gradient(to top, #234EFA, #070DFA 55%, #234EFA);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 70px;
    border-bottom: ridge #1400FA 3px;
    opacity: 0.99;
}

#dropColor{
    color: white
}

nav li{
    margin: 15px 0px 0px 30px;
    font-size: 20px;
}

.nav-list {
    color: white;
    list-style: none;
    display: flex;
}

.nav-list a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}


.nav-list .btn-group{
    color: black;
}

#drop{
    cursor: pointer;
}

.dropdown-menu a{
    color: black;
}

.dropdown-menu a:hover{
    color: white;
    background-color: black;
    opacity: 0.7;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 1px;
    background: #fff;
    margin: 8px;
    padding-right: 5px;
    transition: 0.3s;
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/*Fim Template*/
/* Inicio Login */

.login{
    background-color: #94D4D2;
    margin: 150px 400px 0 400px;
    height: 425px;
    border-radius: 20px;
    border-top: ridge #94D4D2 8px ;
    border-left: ridge #94D4D2 8px ;
    border-bottom: groove #94D4D2 8px ;
    border-right: groove #94D4D2 8px ;
}
/*
.container3{
    height: 100vh;
    border: solid blue 1px;
}*/

div h1{
    text-shadow: 0.1em 0.1em 0.2em black;
}

.bg_login{
    background: linear-gradient(-180deg, #FFF9F0, #FFFFFF 50%, #FFF9F0);
}

.login h1{
    text-align: center;
    margin-top: 15px;
}

.form_login{
    margin: 20px 0 0 0px;
}

.form_login input{
    width: 245px;
    margin-left: 25px;
}

.form_login button{
    font-size: 15px;
    font-weight: bold;
    border: solid black 1px;
    width: 60px;
    padding: 1px;
    margin-top: 15px;
    margin-left: 200px;
}

.form_login button:hover{
    background-color: white;
    color: blue;
}

#cpf{
    font-weight: bold;
    padding-left: 2px;
    margin-bottom: 5px;
}

#senha{
    font-weight: bold;
    padding-left: 2px;
    margin-bottom: 5px;
}

.icones{
    height: 25px;
    margin-left: 25px;
    margin-bottom: 10px;
}

.linha{
    margin: 25px 0 10px 12px;
    width: 90%;
    background-color: black;
    text-align: center;
    opacity: 0.3;
    height: 1.1px;
}

.esqueceu{
    font-weight: 700;
    color: black;
    margin-left: 3px;
    margin-bottom: 8px;
    font-size: 15px;
}

.cadastrar_se{
    font-weight: 700;
    color: black;
    margin-left: 33px;
    font-size: 15px;
}

.form a{
    text-decoration: none;
}

.form a:hover{
    color: rgb(4, 23, 58);
}

/* Fim Login */
/* Inicio Cadastro 

.bg_cadastro{
    background: linear-gradient(-180deg, #070DFA, #234EFA 50%, #070DFA);
}*/

.cadastro_bg{
    background-color: #94D4D2;
    border-radius: 20px;
    border-top: ridge #94D4D2 8px ;
    border-left: ridge #94D4D2 8px ;
    border-bottom: groove #94D4D2 8px ;
    border-right: groove #94D4D2 8px ;
    margin-top: 40px;
}

.cadastro{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.dados{
    margin-top: 35px;
}

.cadastro_bg td{
    display: inline;
}

.form-cadastro{
    padding-left: 15px;
}

div label{
    margin-top: 15px;
    margin-bottom: 3px;
    font-weight: 700;
}

.nome input{
    width: 270px;
    height: 37px;
    font-size: 15px;
    padding-left: 5px;
}

.email input{
    width: 270px;
    height: 37px;
    font-size: 15px;
    padding-left: 5px;
}

.celular input{
    width: 250px;
    height: 37px;
    font-size: 15px;
    padding-left: 8px;
}

.telefone{
    margin-left: 75px;
}

.telefone input{
    width: 250px;
    height: 37px;
    font-size: 15px;
    padding-left: 8px;
}

.cpf input{
    width: 270px;
    height: 37px;
    font-size: 15px;
    padding-left: 8px;
}

.data_nasc input{
    width: 240px;
    height: 37px;
    font-size: 15px;
    padding-left: 8px;
}

.senha{
    margin-left: 65px;
}

.senha input{
    width: 267px;
    height: 37px;
    font-size: 15px;
    padding-left: 8px;
}

.senha_conf input{
    width: 262px;
    height: 37px;
    font-size: 15px;
    padding-left: 8px;
}

.linha2{
    margin: 30px 0 0 12px;
    width: 98%;
    background-color: black;
    text-align: center;
    opacity: 0.3;
    height: 1.1px;
}

.endereco{
    margin-top: 20px;
}

.cep input{
    width: 270px;
    height: 37px;
    font-size: 15px;
    padding-left: 8px;
}

.uf select{
    width: 85px;
    height: 37px;
    font-size: 15px;
    font-weight: 500;
    padding-left: 8px;
}

.cidade input{
    width: 360px;
    height: 37px;
    font-size: 15px;
    padding-left: 8px;
}

.bairro input{
    width: 325px;
    height: 37px;
    font-size: 15px;
    padding-left: 8px;
}

.rua input{
    width: 270px;
    height: 37px;
    font-size: 15px;
    padding-left: 8px;
}

.numero_casa input{
    width: 200px;
    height: 37px;
    font-size: 15px;
    padding-left: 8px;
}

.form-cadastro button{
    margin-left: 46%;
    margin-right: 54%;
    font-size: 20px;
    font-weight: bold;
    border: solid black 1px;
    padding: 1px 5px 1px 5px;
    margin-top: 20px;
}

.form-cadastro button:hover{
    background-color: white;
    color: blue;
    border-color: blue;
}

.click_aqui{
    margin-top: 20px;
    margin-bottom: 20px;
}

.click_aqui span{
    
    font-weight: 600;
}

.click_aqui a{
    font-weight: 700;
    margin-left: 5px;
    font-size: 15px;
}

/* Fim Cadastro */

/* Pagina Perfil */

.container3{
    border: solid red 1px;
}

.form-perfil{
    background-color: white;
    margin: 30px 15px 30px 15px;
    padding: 15px 10px 10px 10px;
    border-radius: 10px;
    border-top: ridge #fff 5px ;
    border-left: ridge #fff 5px ;
    border-bottom: groove #fff 5px ;
    border-right: groove #fff 5px ;
    /*margin: top ritgh bottun lefth;*/
}

.form-perfil input{
    border-color: dimgrey;
    pointer-events: none;
    color: black;
}

.form-perfil textarea{
    border-color: dimgrey;
    pointer-events: none;
    color: black;
}

/* Fim Pagina Perfil */
/* Pagina Ciar Inicio */
.form-criar{
    background-color: white;
    margin: 30px 15px 30px 15px;
    padding: 15px 10px 10px 10px;
    border-radius: 10px;
    border-top: ridge #fff 5px ;
    border-left: ridge #fff 5px ;
    border-bottom: groove #fff 5px ;
    border-right: groove #fff 5px ;
}

.form-criar input, textarea{
    border-color: dimgrey;
    color: black;
}

.form-criar select{
    border-color: dimgrey;
    color: black;
}

/* Pagina Criar final */

/* Inicio Respansivo */

/*@media (max-width: 575.98px){
    .login{
        margin: 250px 0 0 370px;
        height: 425px;
        width: 50px;
        border-radius: 20px;
        border: solid mediumspringgreen 1px ;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    .login{
        margin: 250px 0 0 370px;
        height: 425px;
        width: 50px;
        border-radius: 20px;
        border: solid indigo 1px ;
    }
}

@media (min-width: 768px) and (max-width: 991.98px){
    .login{
        margin: 250px 0 0 200px;
        height: 425px;
        width: 340px;
        border-radius: 20px;
        border: solid greenyellow 1px ;
    }

    .form_login button{
        margin-left: 237px;
    }

    .cadastrar_se{
        margin-left: 85px;
    }
}*/



@media (max-width: 999px){
    .bg_templates {
        overflow-x: hidden;
    }

    .logo{
        margin-left: 30px;
        margin-top: 10px;
        background-image: url("../icons/LOGO-Pequena.png");
        background-repeat: no-repeat;
        height: 60px;
        width: 500px;
    }

    .nav-list{
        position: absolute;
        top: 70px;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        margin-right: 15px;
        display: block;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    

    /* Login */

}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
    opacity: 0;
    transform: translateX(50px);
    }
    to {
    opacity: 1;
    transform: translateX(0);
    }
}

/* Fim Respansivo */